*{
    box-sizing: border-box;
}
.container{
    background-color: grey;
    height: 100vh;
}
.box{
    background-color: aliceblue;
    border: 2px solid;
    height: auto;
    padding: 25px;
  
    width: 50%;
    float: left;
    text-align: center;
    min-height: 50%;
}