h1::first-letter{
    font-size: 2em;
    font-style: italic;
}
p::first-line{
background-color: yellow;
}
p::selection{
    color: white;
    background-color: blue;

}
#fruit ::before{
    content: "🍧" ;
}
#apple::after{
    content: "😮";
}
#orange::after{
    content: "😮";
}
#banana::after{
    content: "😮";
}
#fruit li::marker{
    content: "🤣";
    color: brown;
    font-size: 1.2em;
}